.grid-editor-wrap{
  background: #F5F5F5;
  padding:100px 0;
}

.grid-editor{
  width:1000px;
  margin:auto;
  .grid-editor__item{
    padding:15px;
    box-shadow: 0 0 0 1px #ccc;
    height:333px;
    width:333px;
  }

  .grid-stack > .grid-stack-item > .grid-stack-item-content{
    overflow:visible; //for Quill Toolbar
  }
}

.grid-stack {
  background: white;
}


.grid-stack-item-content {
  box-shadow:0 0 0 1px #ccc;
}

/* Strech on all width*/
.ql-toolbar{
  width: 326px !important;
}

.image-editor{
  height: 320px;
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 99999;

  &__header{
    height: 20px;
    width: 100%;
    background: #E1E7ED;
    border-top: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    display:flex;
    justify-content: flex-end;
    color:#aaa;
  }

  &__close-btn{
    margin-right:2px;
    cursor:pointer;
  }


  &__body{
    width: 300px;
    height: 300px;
    /*border: 1px solid #ccc;*/
    background: white;
    position:relative;
  }
}

.input-file{
  display:none;
}

.bar{
  z-index: 9999;
  background: #E1E7ED;
  display:flex;
  justify-content: space-between;

  &__side{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  &__name-field{
    padding: 10px;
    height:100%;
  }

  &__input{
    height:100%;
    padding: 5px;
  }

  &__btn{
    border-left:1px solid #BCBCBC;
    height:100%;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  &_main{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #BCBCBC;
    height:50px;

    .bar__btn{
      width:50px;
      font-size:30px;
    }
  }

  &_slide{
    position: absolute;
    top:0;
    right:0;
    border-bottom: 1px solid #BCBCBC;
    height:40px;

    .bar__btn{
      width:40px;
      font-size:25px;
    }
  }

  &_home-edit{
    position: absolute;
    right:0;
    top:0;
    height:30px;
    background:transparent;

    .bar__btn{
      width:30px;
      background:transparent;
      border:0;
    }
  }
}
